.main-text {
	padding-left: 10%;
	padding-top: 15%;
	text-align: center;
	font-size: x-large;
	line-height: 1.7;
}

.main-image {
	width: 70%;
}

.title {
	padding-top: 3%;
}

.title-text {
	line-height: 2.0;
}

.testimonials {
	padding-top: 2%;
}

.testimonials-text {
	line-height: 2.0;
}


.card-img-top {
	width: 100%;
	height: 200px;
	border: medium;
	border-style: solid;
	border-color: lightgray;
}

.card {
	border: none;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: none;
	padding-top: 3%;
}
